In [1]:
import pandas as pd
import numpy as np
import nltk

In [5]:
f = open("news.txt", "r", encoding = "utf8")
news = f.read()

In [7]:
text = nltk.word_tokenize(news)

In [8]:
ans = nltk.pos_tag(text)

In [14]:
map_pos = {}
for i in range(len(ans)):
    map_pos[ans[i][1]] = []

In [15]:
for i in range(len(ans)):
    map_pos[ans[i][1]].append(ans[i][0])

In [20]:
df = pd.DataFrame(map_pos.items(), columns = ["pos","words"])

In [22]:
df["len"] = df["words"].apply(lambda x: len(x))

In [23]:
df.head()

   pos                                              words  len
0   IN  [With, of, For, of, at, behind, of, For, while...   33
1   DT  [both, The, this, the, the, the, the, the, the...   25
2  NNP  [Class, X, Class, XII, CBSE, Delhi, Class, XII...   25
3   CC                     [and, but, and, and, and, But]    6
4  NNS  [results, schools, years, schools, schools, sc...   18